@use '../../../styles/base';
@import '../../../styles/partials/color-themes';
@import '../../../styles/mixins/transition';
@import '../../../styles/mixins/transform';
@import '../../../styles/mixins/userSelect';

.help {
    position: absolute;
    top: 0px;
    left: 0px;
    height: auto;
    max-height: calc(100vh - 80px);
    width: 100%;
    box-sizing: border-box;
    padding: 35px 16px;
    overflow: scroll;
    z-index: 5;

    // &__container {
    //     height: auto;
    //     max-height: 100%;
    //     overflow: scroll;
    // }

    &__menu {
        display: flex;
        flex-direction: column;
        height: auto;
        border-radius: 5px;
        box-shadow: base.$box--shadow--alt;
        @include themed() {
            background-color: t($bg-alt);
        }
        @include transition-theme(background-color 0.3s ease);
    }

    &__tab {
        width: 100%;
        overflow: hidden;
        @include themed() {
            color: t($text);
        }
        @include transition-theme(color 0.3s ease, height 0.25s ease);

        &:first-child {
            border-radius: 5px 5px 0px 0px;
        }
        &:last-child {
            border-radius: 0px 0px 5px 5px;
        }

        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid;
            border-bottom: 1px solid;
            box-sizing: border-box;
            padding: 10px;
            cursor: pointer;

            h1 {
                margin: 0px;
                font-size: 2rem;
                font-weight: 400;
            }

            h1,
            .chevron {
                pointer-events: none;
                @include userSelect(none);
            }

            @include themed() {
                color: t($text);
                background-color: t($btn);
                border-color: t($bg);
            }
            @include transition-theme(color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease);
        }

        &__content {
            display: flex;
            flex-direction: column;
            height: 0px;
            width: 100%;
            overflow: hidden;

            @include themed() {
                border-color: t($bg);
                background-color: t($bg-alt);
            }
            @include transition(height 0.3s ease, background-color 0.3s ease);

            p,
            ul {
                font-size: 1.1rem;
            }

            p {
                margin: 0px;
                box-sizing: border-box;
                padding: 10px;
            }

            ul {
                margin: 0px;
                padding: 10px 10px 10px 30px;
            }

            li {
                margin-top: 4px;

                &:first-of-type {
                    margin-top: 0px;
                }

                ul {
                    padding: 10px 0px 10px 20px;
                }
            }
        }
    }
}
