@import '../../../styles/partials/color-themes';
@import '../../../styles/mixins/transition';

.content-container {
  display: flex;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 16px;
  overflow: hidden;
  @include transition(all 0.4s ease);

  @include themed() {
    background-color: t($bg);
  }

  &__center {
    justify-content: center;
    align-items: center;
  }

  &__column {
    flex-direction: column;
  }
}
