@use '../../../styles/base';
@import '../../../styles/mixins/transform';
@import '../../../styles/mixins/transition';

.toggle-switch {
    position: relative;
    display: inline-block;
    height: 28px;
    width: 65px;

    span {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-sizing: border-box;
        border: 2px solid #fff;
        border-radius: 14px;
        background-color: #c7c7c7;
        @include transition(color 0.32s ease);
    }

    span:before {
        position: absolute;
        content: '';
        height: 22px;
        width: 22px;
        top: 1px;
        left: 1px;
        border-radius: 50%;
        background-color: white;
        @include transition(0.32s ease);
    }

    &.active {
        span {
            background-color: base.$selected;
        }

        span:before {
            @include transform(translateX(36px));
        }
    }
}
