@import '../../styles/partials/color-themes';
@import '../../styles/mixins/transition';

%flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-menu {
  @extend %flex-center-column;
  height: calc(100vh - 32px - 80px);;
  width: 100%;

  &__title {
    margin: 0;
    font-size: 5em;
    font-weight: 400;
    @include themed() {
      color: t($text);
    }
    @include transition(color 0.4s ease);
  }

  &__nav-btns-container {
    @extend %flex-center-column;
    margin-top: 30px;

    div {
      &:nth-of-type(n) {
        margin-top: 15px;
      }
      &:nth-of-type(1) {
        margin-top: 0;
      }
    }
  }
}
