@import '../../../styles/partials/color-themes';
@import '../../../styles/mixins/transition';

.container {
    display: flex;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 16px;
    overflow: hidden;

    &--center {
        justify-content: center;
        align-items: center;
    }

    &--column {
        flex-direction: column;
    }
}
