@import '../../styles/partials/color-themes';
@import '../../styles/mixins/transition';
@import '../../styles/mixins/userSelect';

.game {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;

    &__board {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;

        &__information {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: auto;
            width: 100%;
            margin-bottom: 5px;
            @include themed() {
                color: t($text);
            }
            @include transition(color 0.3s ease);
            @include userSelect(none);

            p {
                margin: 0;
                font-size: 1.5rem;

                &:nth-child(1) {
                    text-align: left;
                }
                &:nth-child(2) {
                    text-align: center;
                }
                &:nth-child(3) {
                    text-align: right;
                }
            }

            .blue-txt {
                @include themed() {
                    color: t($blue-main);
                }
            }

            .red-txt {
                @include themed() {
                    color: t($red-main);
                }
            }

            @media screen and (min-width: 576px) {
                p {
                    font-size: 1.6rem;
                }
            }
            @media screen and (min-width: 768px) {
                p {
                    font-size: 1.7rem;
                }
            }
            @media screen and (min-width: 1092px) {
                margin-bottom: 0px;
            }
        }

        &__game-over {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: auto;
            width: 100%;
            margin-top: 10px;
            box-sizing: border-box;
            padding: 0px 16px;
            border-radius: 5px;
            text-align: center;
            color: #fff;
            @include transition(background-color 0.3s ease);

            h1 {
                font-size: 1.2rem;
                margin: 5px 5px;
                @media screen and (min-width: 768px) {
                    font-size: 1.5rem;
                }
            }

            &.blue-bg {
                @include themed() {
                    background-color: t($blue-main);
                }
            }

            &.red-bg {
                @include themed() {
                    background-color: t($red-main);
                }
            }
        }
    }

    &__controls {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-top: 25px;
    }

    @media screen and (min-width: 1092px) {
        flex-direction: row-reverse;
        justify-content: center;

        &__board {
            flex: 1;
            max-width: 925px;
        }

        &__controls {
            width: 30%;
            max-width: 525px;
            margin-top: 32px;
            box-sizing: border-box;
            padding-right: 16px;
        }
    }
}
