@import '../../../styles/partials/color-themes';
@import '../../../styles/mixins/transition';

.join-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    @include themed() {
        color: t($text);
    }
    @include transition(color 0.3s ease);

    &__content {
        height: auto;
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;

        h3 {
            font-size: 1.6rem;
            font-weight: 400;
            margin-bottom: 5px;
        }

        p {
            font-size: 1.1rem;
        }
    }
}
