@import '../../../styles/partials/color-themes';
@import '../../../styles/mixins/transition';

.title {
  height: 90px;
  margin: 0;
  font-size: 5em;
  font-weight: 400;
  @include themed() { color: t($text); }
  @include transition-theme(color 0.4s ease);
  @media screen and (max-width: 350px) { font-size: 4.5em; }
}
