@import '../../../styles/partials/color-themes';
@import '../../../styles/mixins/transition';

.title {
    height: 90px;
    margin: 0px;
    font-size: 5rem;
    font-weight: 400;
    @include themed() {
        color: t($text);
    }
    @include transition(color 0.3s ease);
    @media screen and (max-width: 350px) {
        font-size: 4.5rem;
    }
}
