@use '../../../styles/base';
@import '../../../styles/partials/color-themes';
@import '../../../styles/mixins/transition';

.gameboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: auto;
  width: 100%;

  &__word-block {
    position: relative;
    margin: 2px 0px;
    padding-top: calc(100% / 5 - 4px);
    box-sizing: border-box;
    border: 3px solid;
    @include themed() {
      border-color: t($border);
    }
    color: base.$text--2--light;
    background-color: base.$hover--light;
    @include transition(border-color 0.4s ease);
    white-space: initial;
    cursor: pointer;
    overflow: hidden;

    &__small {}

    &__medium {}

    &__large {
      width: calc(100% / 5 - 4px);
    }

    p {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      word-break: break-word;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: auto;
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      
    }
  }
}
