@import '../../../styles/partials/color-themes';
@import '../../../styles/mixins/transition';

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  min-width: 230px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  background-color: transparent;
  box-sizing: border-box;
  border: 3px solid;
  @include themed() {
    color: t($text);
    border-color: t($border);
  }
  @include transition-theme(color 0.3s ease, border-color 0.4s ease, background-color 0.3s ease);

  &:hover {
    @include themed() {
      color: t($text-secondary);
      background-color: t($hover);
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  p {
    font-size: 2em;
    margin: 0;
  }

  &__red {
    @include themed() {
      color: t($text-red);
    }
    &:hover {
      @include themed() {
        background-color: t($text-red);
      }
    }
  }

  &__blue {
    @include themed() {
      color: t($text-blue);
    }
    &:hover {
      @include themed() {
        background-color: t($text-blue);
      }
    }
  }
}
