@use '../../../styles/base';
@import '../../../styles/partials/color-themes';
@import '../../../styles/mixins/transition';
@import '../../../styles/mixins/userSelect';

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: auto;
    width: 100%;
    max-width: 300px;
    text-align: center;
    box-sizing: border-box;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    box-shadow: base.$box--shadow;
    font-family: 'Share Tech', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    @include themed() {
        color: t($text);
        background-color: t($btn);
    }
    @include transition-theme(color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease);

    &:focus {
        outline: none;
    }

    &:hover {
        @include themed() {
            color: t($text-secondary);
            background-color: t($hover);
        }
    }
    &.active {
        @include themed() {
            color: t($text-secondary);
            background-color: t($btn-active);
        }
    }
    &.disable {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
    }

    &__red,
    &__blue {
        width: 100%;
        max-width: initial;
    }

    &__red {
        @include themed() {
            color: t($red-main);
        }
        &:hover {
            @include themed() {
                color: t($light-text);
                background-color: t($red-main);
            }
        }
        &.active {
            @include themed() {
                color: t($light-text);
                background-color: t($red-main);
            }
        }
    }

    &__blue {
        @include themed() {
            color: t($blue-main);
        }
        &:hover {
            @include themed() {
                color: t($light-text);
                background-color: t($blue-main);
            }
        }
        &.active {
            @include themed() {
                color: t($light-text);
                background-color: t($blue-main);
            }
        }
    }

    &__insider,
    &__agent {
        width: calc(50% - 5px);
        max-width: initial;

        i {
            font-size: 0.9em;
            margin-left: 10px;
        }
    }
}
