@use '../../../styles/base';
@import '../../../styles/partials/color-themes';
@import '../../../styles/mixins/transition';

%flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-game {
    @extend %flex-center-column;
    height: 100%;
    width: 100%;
    @include themed() {
        color: t($text);
    }
    @include transition(color 0.3s ease);

    &__content {
        @extend %flex-center-column;
        height: auto;
        width: 100%;
        max-width: 300px;
        text-align: left;
        margin-bottom: 15px;

        h3 {
            font-size: 1.6rem;
            font-weight: 400;
            margin-bottom: 5px;
        }
    }
}
