%flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home {
    @extend %flex-center-column;
    height: 100%;
    width: 100%;

    &__content {
        @extend %flex-center-column;
        margin-top: 10px;
        width: 100%;

        div {
            &:nth-of-type(n) {
                margin-top: 15px;
            }
            &:nth-of-type(1) {
                margin-top: 0;
            }
        }
    }
}
