@use '../../styles/base';
@import '../../styles/mixins/transition';
@import '../../styles/mixins/transform';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 16px;
    background-color: base.$secondary-black;
    @media screen and (min-width: 768px) {
        flex-direction: row-reverse;
        height: 50px;
    }

    &__info,
    &__settings {
        &--row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 1.1rem;
                margin: 0px;
            }

            @media screen and (min-width: 768px) {
                div,
                p {
                    &:nth-of-type(1) {
                        margin-right: 60px;
                    }
                }

                div p {
                    &:nth-of-type(1) {
                        margin-right: 10px;
                    }
                }

                .toggle-switch {
                    margin-right: 0px !important;
                }
            }
        }
    }

    &__settings {
        color: base.$primary-white;

        &__toggle-switch-wrapper,
        &__help-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            p {
                margin-right: 10px;
            }
        }

        &__toggle-switch-wrapper {
            i {
                &:first-of-type {
                    margin-right: 7px;
                    font-size: 1.1rem;
                }
                &:last-of-type {
                    margin-left: 7px;
                    font-size: 1.2rem;
                }
            }
        }

        &__help-wrapper {
            cursor: pointer;

            i {
                font-size: 1.1rem;
            }
        }
    }

    &__info {
        color: base.$dark-grey;

        a {
            @include transition(0.3s);
            &:hover {
                color: base.$primary-white;
            }
        }
    }

    @media screen and (min-width: 1092px) {
    }
}
