@use '../../../styles/base';
@import '../../../styles/partials/color-themes';
@import '../../../styles/mixins/transition';

.gameboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: auto;
    width: 100%;

    &__word-block {
        position: relative;
        margin: 2px 0px;
        padding-top: calc(100% / 5 - 4px);
        box-sizing: border-box;
        border: 3px solid;
        @include themed() {
            color: t($text);
            border-color: t($border);
        }
        background-color: transparent;
        @include transition(border-color 0.4s ease);
        white-space: initial;
        cursor: pointer;
        overflow: hidden;

        &:hover {
            @include themed() {
                color: t($text);
                background-color: t($box-hover);
            }
        }
        // &__small {}

        // &__medium {}

        &.bomb,
        &.blank,
        &.red,
        &.blue,
        &.bomb p,
        &.blank p,
        &.red p,
        &.blue p {
            cursor: none;
            pointer-events: none;
        }

        &.bomb {
            @include themed() {
                color: t($bomb);
            }
        }

        &.red {
            @include themed() {
                color: t($text-red);
            }
        }

        &.blue {
            @include themed() {
                color: t($text-blue);
            }
        }

        &__large {
            width: calc(100% / 5 - 4px);
        }

        p {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            word-break: break-word;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: auto;
            width: 100%;
            @include transition(color 0.3s ease);
        }

        @media screen and (min-width: 992px) {
            padding: 0;
            height: 120px;
        }
    }
}
