@use '../../../styles/base';
@import '../../../styles/partials/color-themes';
@import '../../../styles/mixins/transition';

.gameboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: auto;
    width: 100%;

    &__word-block {
        position: relative;
        width: calc(100% / 5 - 4px);
        margin: 2px 0px;
        padding-top: calc(75% / 5 - 4px);
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: base.$box--shadow--alt;
        @include themed() {
            background-color: t($word-cell);
        }
        @include transition-theme(color 0.3s ease, background-color 0.3s ease);
        cursor: pointer;
        overflow: hidden;
        &:hover {
            @include themed() {
                color: t($text);
                background-color: t($word-cell-hover);
            }
        }

        &.bomb,
        &.blank,
        &.red,
        &.blue,
        &.bomb p,
        &.blank p,
        &.red p,
        &.blue p {
            cursor: none;
            pointer-events: none;
        }

        &.bomb {
            @include themed() {
                color: t($orange-main);
                background-color: t($word-cell-orange);
            }
        }

        &.red {
            @include themed() {
                color: t($red-main);
                background-color: t($word-cell-red);
            }
        }

        &.blue {
            @include themed() {
                color: t($blue-main);
                background-color: t($word-cell-blue);
            }
        }

        span {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            white-space: initial;
            padding: 5px;
            box-sizing: border-box;

            p {
                word-break: break-word;
                height: auto;
                margin: 0px;
                width: 100%;
                @media screen and (min-width: 576px) {
                    font-size: 1.15rem;
                }
                @media screen and (min-width: 1376px) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    &__placeholder {
        width: 100%;
        margin-top: 15px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: base.$box--shadow;
        @include themed() {
            background-color: t($word-cell);
        }
        @include transition-theme(color 0.3s ease, background-color 0.3s ease);
        cursor: pointer;
        overflow: hidden;
        &:hover {
            @include themed() {
                color: t($text);
                background-color: t($word-cell-hover);
            }
        }
        @media screen and (min-width: 1092px) {
            margin-top: 2px;
        }

        h1 {
            font-size: 1.3rem;
        }
    }
}
