@import '../../../../styles/partials/color-themes';
@import '../../../../styles/mixins/transition';
@import '../../../../styles/mixins/transform';

.back-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
    padding: 15px;
    @include themed() {
        color: t($text);
    }
    @include transition-theme(all 0.3s ease);

    &:hover {
        @include transform(translateX(-5px));
    }

    p {
        margin: 0 0 0 10px;
    }
}
