@use '../../styles/base';
@import '../../styles/partials/color-themes';
@import '../../styles/mixins/transition';
@import '../../styles/mixins/transform';

.settings {
    position: absolute;
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 320px;
        box-shadow: base.$box--shadow;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 30px 24px;
        overflow: hidden;
        @include transition-theme(color 0.3s ease, background-color 0.3s ease);
        @include themed() {
            color: t($text);
            background-color: t($bg);
        }

        &__btn {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            font-size: 1.2em;
            @include themed() {
                color: t($text);
            }
            @include transition-theme(color 0.3s ease);

            p {
                margin: 0px 0px 0px 10px;
            }
        }

        &__options {
            height: auto;
            width: auto;
        }
    }
}
