// General
$primary-black: #1c1c1c;
$secondary-black: #111111;
$primary-white: #fff;
$dark-grey: #292929;
$selected: #2eb423;
$remove: #d63d3d;
$box--shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25), 0px 2px 5px 0px rgba(0, 0, 0, 0.17);
$box--shadow--alt: 0px 2px 2px 0px rgba(0, 0, 0, 0.18), 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
$box--shadow--input--focus: -1px 2px 3px 0px rgba(46, 180, 35, 0.5), 1px 2px 3px 0px rgba(46, 180, 35, 0.5),
    0px -2px 3px 0px rgba(46, 180, 35, 0.4), 0px 2px 5px 0px rgba(46, 180, 35, 0.4);

// Backgrounds
$bg--light: #f2f2f2;
$bg--light--alt: transparent;
$bg--dark: #1c1c1c;
$bg--dark--alt: #2a2a2a;
$bg--error: #f1b1b1;

// Text
$text--light: #1c1c1c;
$text--light--alt: #fff;
$text--dark: #fff;
$text--dark--alt: #1c1c1c;

// Colors
$red--light: #d41818;
$red--dark: #e53935;
$blue--light: #1e88e5;
$blue--dark: #1e88e5;
$orange--light: #b36b00;
$orange--dark: #ff9900;

// Buttons
$btn--light: #eeeeee;
$btn--light--active: #2e2e2e;
$btn--dark: #2e2e2e;
$btn--dark--active: #eeeeee;
$hover--light: #2e2e2e;
$hover--dark: #eeeeee;

// Word Cells
$word--cell--light: #f2f2f2;
$word--cell--light--red: #d3a0a0;
$word--cell--light--blue: #a1bed6;
$word--cell--light--orange: #d3be9e;
$word--cell--light--hover: #a1a1a1;
$word--cell--dark: #eeeeee;
$word--cell--dark--red: #442222;
$word--cell--dark--blue: #20313f;
$word--cell--dark--orange: #473a26;
$word--cell--dark--hover: #454545;
$word--cell--text--guessed: #ffffff;
$word--cell--light--blank--guessed: #5f5f5f;
$word--cell--light--red--guessed: #dd6363;
$word--cell--light--blue--guessed: #60a2d8;
$word--cell--light--orange--guessed: #d8a455;
$word--cell--dark--blank--guessed: #686868;
$word--cell--dark--red--guessed: #a61818;
$word--cell--dark--blue--guessed: #2174b8;
$word--cell--dark--orange--guessed: #aa6f16;
