$primary-black: #1c1c1c;
$secondary-black: #111111;
$dark-grey: #292929;
$selected: #2eb423;
$remove: #d63d3d;

$bg--light: #f2f2f2;
$text--light: #1c1c1c;
$text--2--light: #fff;
$text--red--light: #d41818;
$text--blue--light: #3622ce;
$hover--light: #5e5e5e;
$border--light: #1c1c1c;

$bg--dark: #1c1c1c;
$text--dark: #fff;
$text--2--dark: #1c1c1c;
$text--red--dark: #d63d3d;
$text--blue--dark: #8575ff;
$hover--dark: #bbbbbb;
$border--dark: #fff;
