@use './base';
@import './partials/color-themes';
@import './mixins/transition';

body {
    font-family: 'Share Tech', sans-serif;
    height: auto;
    width: 100%;
    margin: 0px;
}

main {
    min-height: 100vh;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.theme {
    height: inherit;
    width: inherit;
}

.base {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    @include themed() {
        background-color: t($bg);
    }
    @include transition(background-color 0.25s ease);
}

h3 {
    margin: 0px;
    font-weight: 400;
    font-size: 1.6em;
    width: 100%;
    @include themed() {
        color: t($text);
    }
    @include transition(color 0.3s ease);
}

button {
    border: none;
    font-family: 'Share Tech', sans-serif;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    &:focus {
        outline: none;
    }
}

input {
    width: 100%;
    border: none;
    font-size: 1.1em;
    font-family: 'Share Tech', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    box-shadow: base.$box--shadow;

    &:focus {
        outline: none;
        box-shadow: base.$box--shadow--input--focus;
    }
}

.err-msg {
    display: block;
    height: auto;
    width: auto;
    max-width: 600px;
    box-shadow: base.$box--shadow;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 7px;
    font-size: 1rem;
    background-color: base.$bg--error;
    margin: 5px 0px !important;
    cursor: pointer;
    overflow: hidden;
    @include themed() {
        color: t($red-main);
    }

    :nth-child(n) {
        margin-top: 7px;
        margin-bottom: 0px;
    }
    :first-child {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    &--inherit {
        @extend .err-msg;
        font-size: inherit;
    }

    &--mw300px {
        max-width: 300px;
    }
}
