@use '../base';

// Backgrounds
$bg: 'bg';
$bg-alt: 'bg-alt';

// Text
$text: 'text';
$text-secondary: 'text-secondary';
$light-text: 'light-text';

// Colors
$red-main: 'red-main';
$blue-main: 'blue-main';
$orange-main: 'orange-main';
$green-main: 'green-main';

// Buttons
$btn: 'btn';
$btn-active: 'btn-active';
$hover: 'hover';

// Word Cells
$word-cell: 'word-cell';
$word-cell-red: 'word-cell-red';
$word-cell-blue: 'word-cell-blue';
$word-cell-orange: 'word-cell-orange';
$word-cell-hover: 'word-cell-hover';
$word-cell-blank-guessed: 'word-cell-blank-guessed';
$word-cell-red-guessed: 'word-cell-red-guessed';
$word-cell-blue-guessed: 'word-cell-blue-guessed';
$word-cell-orange-guessed: 'word-cell-orange-guessed';

// Themes
$themes: (
    default: (
        bg: base.$bg--light,
        bg-alt: base.$bg--light--alt,
        text: base.$text--light,
        text-secondary: base.$text--light--alt,
        light-text: base.$primary-white,
        red-main: base.$red--light,
        blue-main: base.$blue--light,
        orange-main: base.$orange--light,
        green-main: base.$green--light,
        btn: base.$btn--light,
        btn-active: base.$btn--light--active,
        hover: base.$hover--light,
        word-cell: base.$word--cell--light,
        word-cell-red: base.$word--cell--light--red,
        word-cell-blue: base.$word--cell--light--blue,
        word-cell-orange: base.$word--cell--light--orange,
        word-cell-hover: base.$word--cell--light--hover,
        word-cell-blank-guessed: base.$word--cell--light--blank--guessed,
        word-cell-red-guessed: base.$word--cell--light--red--guessed,
        word-cell-blue-guessed: base.$word--cell--light--blue--guessed,
        word-cell-orange-guessed: base.$word--cell--light--orange--guessed,
    ),
    dark: (
        bg: base.$bg--dark,
        bg-alt: base.$bg--dark--alt,
        text: base.$text--dark,
        text-secondary: base.$text--dark--alt,
        light-text: base.$primary-white,
        red-main: base.$red--dark,
        blue-main: base.$blue--dark,
        orange-main: base.$orange--dark,
        green-main: base.$green--dark,
        btn: base.$btn--dark,
        btn-active: base.$btn--dark--active,
        hover: base.$hover--dark,
        word-cell: base.$word--cell--dark,
        word-cell-red: base.$word--cell--dark--red,
        word-cell-blue: base.$word--cell--dark--blue,
        word-cell-orange: base.$word--cell--dark--orange,
        word-cell-hover: base.$word--cell--dark--hover,
        word-cell-blank-guessed: base.$word--cell--dark--blank--guessed,
        word-cell-red-guessed: base.$word--cell--dark--red--guessed,
        word-cell-blue-guessed: base.$word--cell--dark--blue--guessed,
        word-cell-orange-guessed: base.$word--cell--dark--orange--guessed,
    ),
);

// Mixin
@mixin themed() {
    @each $theme, $map in $themes {
        .theme--#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

// Function
@function t($key) {
    @return map-get($theme-map, $key);
}
